@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  transition: 0.3s;
}

body {
  background: url('./assets/background.jpg') fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

p {
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span {
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pp-img {
  width: 17%;
  margin: 0.3rem;
  margin-bottom: 0.6rem;
  pointer-events: none;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 31rem;
  max-height: 47rem;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #0047ab, #6b007f);
  border-radius: 10px;
}

.row {
  text-align: center;
  justify-content: center;
}

.col-sm-1 {
  padding: 0;
}

.col-sm-3 {
  padding: 0;
}

#pointsNeeded {
  background-color: #f91acd;
}

#coinsNeeded {
  background-color: #febe20;
}

.rotate-center {
	-webkit-animation: rotate-center 2s linear infinite both;
	        animation: rotate-center 2s linear infinite both;
}

#brawl-logo {
  width: 15%;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation: rotate-center 3s linear infinite both;
	        animation: rotate-center 3s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

span {
  background: #f91acd;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
}

span:hover img  {
    -webkit-animation: rotate-img 1s ease-in-out both;
            animation: rotate-img 1s ease-in-out both;
}

span:hover {
  color: #e3e9ff;
}

@-webkit-keyframes rotate-img {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-img {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.img-buttons {
  font-size: 1.3rem;
}

.coins {
  background: #9e7612;
}

.gold-img {
  width: 6.5%;
  pointer-events: none;
  margin-bottom: 0.5rem;
}

.buttons {
  width: 100%;
  margin: 0;
}

.buttons .btn {
  width: 50%;
}

@media only screen and (max-width: 24rem) {
  * {
    font-size: 1rem;
  }
}

.fa:hover {
  color: #bfccff;
}

.hypercharge-label {
  font-size: inherit; /* 使用預設字體大小 */
  color: inherit; /* 使用預設文字顏色 */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px; /* 添加半徑以使其不再是圓形 */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #3CD137;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3CD137;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

